## CodersCave

## By Dhayanithi T

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df= pd.read_csv('mail_data.csv')

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.shape

(5572, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
data = df.where((pd.notnull(df)),'')

In [7]:
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
data.shape

(5572, 2)

In [9]:
data.loc[data['Category'] == 'spam','Category'] = 0
data.loc[data['Category'] == 'ham','Category'] = 1

In [10]:
x = data['Message']

In [11]:
y = data['Category']

In [12]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [13]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state = 4)

In [15]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4457,)
(1115,)
(4457,)
(1115,)

In [16]:
feature_extraction = TfidfVectorizer(min_df= 1, stop_words = 'english', lowercase = 'True')

In [17]:
x_train_feature = feature_extraction.fit_transform(x_train)
x_test_feature = feature_extraction.transform(x_test)

In [18]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [19]:
x_train

1457    U sleeping now.. Or you going to take? Haha.. ...
472     How long has it been since you screamed, princ...
2481    Urgent! call 09066612661 from landline. Your c...
243     Okay. No no, just shining on. That was meant t...
1413    Wen ur lovable bcums angry wid u, dnt take it ...
                              ...
3671                        Ok thanx... Take care then...
709     To review and KEEP the fantastic Nokia N-Gage ...
2487           I dont thnk its a wrong calling between us
174     Bloody hell, cant believe you forgot my surnam...
1146    Thank you, winner notified by sms. Good Luck! ...
Name: Message, Length: 4457, dtype: object

In [20]:
print(x_train_feature)

  (0, 4076)	0.21814163878169243
  (0, 4189)	0.40714919169918795
  (0, 5531)	0.3423416769137198
  (0, 1705)	0.3274543662048457
  (0, 4787)	0.29950623963635054
  (0, 7166)	0.23411798769212422
  (0, 6220)	0.40714919169918795
  (0, 3094)	0.1960160348955552
  (0, 3189)	0.2695003791316419
  (0, 3068)	0.20722043882108684
  (0, 6023)	0.31295501407186926
  (1, 5240)	0.49842861309340514
  (1, 5773)	0.7151217422337083
  (1, 4061)	0.4900712309801611
  (2, 4744)	0.18868130288704416
  (2, 3339)	0.25960869981277335
  (2, 5823)	0.25061469947311094
  (2, 312)	0.1771020551801762
  (2, 299)	0.19209527463945028
  (2, 407)	0.2722850313233416
  (2, 7114)	0.2722850313233416
  (2, 1408)	0.18464166862372272
  (2, 5092)	0.18560370392241915
  (2, 2034)	0.18192137275151332
  (2, 5687)	0.20537868697819087
  :	:
  (4454, 2350)	0.3603401295867597
  (4455, 1263)	0.36319212343381085
  (4455, 1810)	0.36319212343381085
  (4455, 6428)	0.36319212343381085
  (4455, 6158)	0.34628357823652833
  (4455, 3285)	0.31737822930144755
  (4455, 1353)	0.324981330584005
  (4455, 1268)	0.27394793268337375
  (4455, 2856)	0.2516758365847381
  (4455, 3483)	0.24151640507435573
  (4455, 4470)	0.2851349711027913
  (4456, 64)	0.3385457318047022
  (4456, 671)	0.3385457318047022
  (4456, 4228)	0.3385457318047022
  (4456, 4684)	0.3385457318047022
  (4456, 7279)	0.26022300036687795
  (4456, 6601)	0.23884175715781628
  (4456, 6067)	0.22409034559050645
  (4456, 2954)	0.28984868954690285
  (4456, 5530)	0.18242204471967008
  (4456, 5843)	0.2629048714492601
  (4456, 2071)	0.21839161745326238
  (4456, 6297)	0.18384868970948873
  (4456, 4123)	0.2688969723960437
  (4456, 3078)	0.16235582628660974

In [21]:
LR = LogisticRegression()

In [22]:
LR.fit(x_train_feature, y_train)

LogisticRegression()

In [23]:
pred = LR.predict(x_train_feature)

In [24]:
accuracy_score = accuracy_score(y_train, pred)

In [25]:
print('Accuracy score on Training data :', accuracy_score)

Accuracy score on Training data : 0.9685887368184878

In [26]:
input_your_mail = ['Thanks for your subscription to Ringtone UK your mobile will be charged £5/month Please confirm by replying YES or NO. If you reply NO you will not be charged']
input_data_feature = feature_extraction.transform(input_your_mail)
prediction = LR.predict(input_data_feature)
print(prediction)
if(prediction[0] == 1):
    print('Ham mail')
else:
    print('Spam mail')

[0]
Spam mail

In [27]:
input_your_mail = ['Aft i finish my lunch then i go str down lor. Ard 3 smth lor. U finish ur lunch already?']
input_data_feature = feature_extraction.transform(input_your_mail)
prediction = LR.predict(input_data_feature)
print(prediction)
if(prediction[0] == 1):
    print('Ham mail')
else:
    print('Spam mail')

[1]
Ham mail